* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  padding-top: 6vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

main {
  display: block;
  overflow: hidden;
  margin-top: 1.4rem;
}

main .page {
  min-height: 37.5 rem;
  max-width: 100%;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 80vh;
}

.page-section {
  position: relative;
  padding: 0;
}

/* FIRST SECTION */

.first-section {
  margin-top: 3.6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem,40rem));
  grid-gap: 1rem;
  justify-content: center;
}

.banner {
  background-color: #ffffff;
  box-shadow: 0px 2px 20px #cfd8dc;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  /* height: 16rem; */
  transition: transform 200ms ease-in;
  position: relative;
  z-index: 0;
}

.banner-body {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: space-around;
}

.image {
  height: 16rem;
  width: 17rem;
  object-fit: cover;
  clip-path: circle(78.9% at 99% 50%);
  z-index: 1;
}

.banner-img {
  height: 16rem;
  width: 17rem;
  position: relative;
}
.banner-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #d8d8d8;
  clip-path: circle(81% at 96% 50%);
  z-index: -1;
}

.banner-title {
  padding: 1rem;
  color: #333333;
  font-weight: 900;
  line-height: 32px;
}

.banner-description {
  padding: 0 1rem;
  color: #333333bf;
  font-weight: 500;
}

.banner-button {
  padding: 0.5rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 0.2rem;
  background-color: #26890c;
  transition: transform 300ms ease-in;
}

.banner-button a {
  color: #fff;
  text-decoration: none;
}

.banner:hover {
  transform: scale(1.02);
}

.banner-button:hover {
  transform: scale(1.05);
}

/* SECOND SECTION */
.second-section {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 19rem));
  grid-gap: 1.5rem;
  justify-content: center;
  position: relative;
}

.section-background {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
}

.info {
  overflow: hidden;
  margin: 2rem 0;
  background-color: white;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 20rem;
  transition: transform 200ms ease-in;
  z-index: 1;
  position: relative;
}

.info:nth-child(2) {
  border: 2px solid #ef7f92;
}

.info:nth-child(3) {
  border: 1px solid #5895dc;
}

.info:nth-child(4) {
  border: 2px solid #bddbb4;
}

.info:nth-child(5) {
  border: 2px solid #f3e2b3;
}

.info-body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

.info-title {
  padding: 1rem;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.info-description {
  font-size: 0.875rem;
  padding: 0 1rem;
  color: #6e6e6e;
}

.info-link {
  color: #1368ce;
  font-weight: bold;
  padding: 1rem;
  text-decoration: none;
}

.info-link::after {
  content: "";
  width: 0;
  height: 0.125rem;
  border-radius: 0.2rem;
  position: absolute;
  left: 1rem;
  bottom: 1.5rem;
  background-color: #1368ce;
  transition: width 200ms ease-in;
}

.info-link:hover::after {
  width: 32%;
}

/* THIRD SECTION */
.third-section {
  padding-top: 3rem;
  position: relative;
  padding-bottom: 3rem;
  background-color: #ffffff;
}

.third-section h1 {
  text-align: center;
}

.card-video {
  position: relative;
  width: 100%;
  height: 146px;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-background1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img3.svg");
  background-size: cover;
  background-position: center;
}

.video-background2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img4.svg");
  background-size: cover;
  background-position: center;
}

.video-background3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img5.svg");
  background-size: cover;
  background-position: center;
}

.card-video-content {
  position: absolute;
  top: -5rem;
  left: -2rem;
  width: 20rem;
  height: 16rem;
  object-fit: scale-down;
}

.card-video-content2 {
  position: absolute;
  top: -5rem;
  left: 4rem;
  width: 20rem;
  height: 15rem;
  object-fit: scale-down;
}

.card-video-content3 {
  position: absolute;
  top: -7rem;
  left: 8rem;
  width: 21rem;
  height: 16rem;
  object-fit: scale-down;
}

.card-button {
  padding: 1rem;
  position: relative;
  line-height: 1.8;
  background-color: #0542b9;
  border-radius: 0.25 rem;
  width: 40%;
  margin: auto;
  margin-top: 3rem;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

.card-button a {
  color: white;
  text-decoration: underline;
}

.card-container {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card {
  width: 28%;
  margin: 1rem;
  border: solid 1px #c60929;
  background-color: white;
  box-shadow: 0px 2px 20px #a5aeb4;
  border-radius: 0.2rem;
  text-align: center;
}

.card:nth-of-type(2) {
  position: relative;
  top: -30px;
}

.card-body h1 {
  padding: 1rem;
  line-height: 1rem;
}

.card-body p {
  line-height: 1rem;
  padding: 0 1rem 1rem;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 768px) {
  main {
    overflow: hidden;
  }
}